@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Dancing+Script:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#10225d;
    font-family:'Quicksand',sans-serif;
    overflow-x:hidden;
}

.wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    padding:20px 10px;
}

.letter{
    width:100%;
    max-width:700px;

    background-image:url('letter-bg.jpg');
    background-size:100% 100%;
    background-repeat:no-repeat;

    padding-top:120px;
    padding-bottom:120px;

    min-height:1700px;
}

.content{
    width:70%;
    margin:auto;

    color:white;

    text-shadow:
    0 1px 2px rgba(0,0,0,.25);

    text-align:justify;
}

h1{
    text-align:center;
    margin-bottom:30px;

    font-size:2.2rem;
    font-family:'Dancing Script',cursive;
}

p{
    margin-bottom:22px;
    line-height:2;
    font-size:1rem;
}

.signature{
    width:100%;
    text-align:center;

    margin-top:50px;

    font-size:1.6rem;
    font-family:'Dancing Script',cursive;
}

/* Tablet */
@media(max-width:768px){

    .letter{
        min-height:1500px;
        padding-top:90px;
        padding-bottom:90px;
    }

    .content{
        width:72%;
    }

    h1{
        font-size:1.9rem;
    }

    p{
        font-size:.92rem;
        line-height:1.9;
    }

    .signature{
        font-size:1.4rem;
    }
}

/* Mobile */
@media(max-width:480px){

    .wrapper{
        padding:0;
    }

    .letter{
        width:100%;
        min-height:1400px;

        padding-top:80px;
        padding-bottom:80px;
    }

    .content{
        width:68%;
    }

    h1{
        font-size:1.5rem;
        margin-bottom:20px;
    }

    p{
        font-size:.8rem;
        line-height:1.8;
        margin-bottom:18px;
    }

    .signature{
        font-size:1.25rem;
        margin-top:35px;
    }
}
